.logoutButton{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    display: inline-block;
    float: right;
}

.qrtable {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #333333;
	display: inline-block;
	float: left;
	width: 30%;
	border-width: 2px;
	border-color: #729ea5;
	border-collapse: collapse;
	margin-right:20px;
}

.qrtable th {
	font-size:12px;
	background-color:#80b3ff;
	border-width: 2px;
	padding: 10px;
	border-style: solid;
	border-color: #729ea5;
	text-align: center;
	width:200px;
}

.qrtable td {
	font-size:12px;
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #729ea5;
	width:200px;
	text-align: left;
	padding: 8px;
}

.qrtable tr {
	background-color:#d4e3e5;
	width:200px;
}

.qrtable tr:hover {
	background-color:#ffffff;
}

h1 {
	display: inline;
	font-size: 1.6em;
	font-weight: bold;
}

.duck-size {
	width: 50px;
	height: 50px;
}

.image-link{
	text-decoration: none;
}

#header {
	background: #33cccc;
}

body {
	background: #e6ffff;
}

#footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
	background: #7a7a52; 
	text-align: center; 
	padding: 5px; 
	margin-top: 10px;
}

#clear {
    clear: both;
}

 /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}