<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>zumzum.it</display-name>
  <welcome-file-list>
    <welcome-file>jsp/homeView.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pswForgotServlet</display-name>
    <servlet-name>pswForgotServlet</servlet-name>
    <servlet-class>controller.pswForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pswForgotServlet</servlet-name>
    <url-pattern>/Forgotpsw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCartServlet</display-name>
    <servlet-name>ModifyCartServlet</servlet-name>
    <servlet-class>controller.ModifyCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCartServlet</servlet-name>
    <url-pattern>/ModifyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>controller.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/Purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>controller.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPaymentServlet</display-name>
    <servlet-name>ModifyPaymentServlet</servlet-name>
    <servlet-class>controller.ModifyPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPaymentServlet</servlet-name>
    <url-pattern>/ModifyPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyDeliveryPointServlet</display-name>
    <servlet-name>ModifyDeliveryPointServlet</servlet-name>
    <servlet-class>controller.ModifyDeliveryPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyDeliveryPointServlet</servlet-name>
    <url-pattern>/ModifyDeliveryPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmedPurchaseServlet</display-name>
    <servlet-name>ConfirmedPurchaseServlet</servlet-name>
    <servlet-class>controller.ConfirmedPurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmedPurchaseServlet</servlet-name>
    <url-pattern>/ConfirmedPurchase</url-pattern>
  </servlet-mapping>
</web-app>